# OS Files
Thumbs.db
Desktop.ini
.DS_Store

# Editor
.vscode/
.idea/

# Node/Firebase
node_modules/
.firebase/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# Portable Binaries
firebase-cli.exe
node.zip
node-v*
server.js
